<div>
  <div class="container">
    <div class="">
      <h1>add new event:</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">
            <input type="text" v-model="name">
          </h1>
          <h5>
            <input type="text" v-model="status"> | {{getTime}}</h5>
        </div>
        <div class="panel-body">
          <textarea v-model="description" placeholder="add multiple lines"></textarea>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-default" v-on:click="saveNewEvent"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span>  Save</button>
      </div>
    </div>
  </div>
</div>