<nav class="navbar navbar-default">
  <div class="navbar-header">
    <router-link to="/" class="navbar-brand">
        <div class="top">CodingAcadmey - Vue</div>
        <div>event-manager-example</div> 
      </router-link>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li>
        <router-link to="/evento-center">Event Center</router-link>
      </li>
      <li>
        <router-link to="/evento-new">Create new Event</router-link>
      </li>
      <li>
        <router-link to="/about">About</router-link>
      </li>
    </ul>
  </div>
</nav>
