<div>
  <div class="container">
    <div class="">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">{{evento.name}}</h1>
          <h5>{{evento.status}} | {{getTime()}}</h5>
        </div>
        <div class="panel-body" v-html="evento.description"></div>
      </div>
    </div>
    <button type="button" class="btn btn-default" v-on:click="navigateToMainView"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to All Events</button>

  </div>
</div>